<%= form_for(@alumno_curso) do |f| %>
  <% if @alumno_curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumno_curso.errors.count, "error") %> prohibited this alumno_curso from being saved:</h2>

      <ul>
      <% @alumno_curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alumno_id %><br>
    <%= f.text_field :alumno_id %>
  </div>
  <div class="field">
    <%= f.label :curso_id %><br>
    <%= f.text_field :curso_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
